body, h1 {
    margin: 0;
}
.nav {
    height: 85px;
    width: 100%;
}

.logo {
    float: left;
    width: 260px;
    margin-top: 8px; ;
    transform: scale(0.95);  
    transition: 500ms;
    height: 66px;
    background-image: url("../img/xd1.png");
}

.logo:hover {
    transform: scale(1);
    transition: 500ms;
    background-image: url("../img/xd1_white.png");
}

ul {
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 980px;
    width: 100%;
}

a {
    text-decoration: none;
}

.menu {
    display: inline-block;
    float: right;
    margin: 0;
    padding-top:5px;
}

.menu li {
    display: inline-block;
    margin: 25px;
    width: 45px;
    line-height: 28px;
    vertical-align: middle;
}

header {
    height: 590px;
    width: 100%;


}

.title-wrapper {
    padding-top: 150px;
    
}

.brief-info {
    height: 250px;
    background-color: #bfb48f;
}

.info-wrapper {
    padding-top: 30px;
    width: 40%;
    height: 155px;

}

.brief-info .container {
    padding-top: 30px;
}