.nav {
    background-color: #754c27; /*#4F3824*/
    
}

.white {
    background-color: white;
}

body {
    font: "Timber";
}

.menu li {
    
    font-size: 19px;
    transition: color 0.3s ease-in-out;
    transition: 0.3s;
}

.menu  :hover{
    color: #fff;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    transform: scale(1.2);
    cursor: pointer;    
    transition: 0.3s;
}

header {
    background-image: url("../img/header.resized.jpg");
    background-position: center center;
    background-size: cover;
    
}

h1 {
    padding: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    font-style: inherit;
    font-family: 'Courier New', Courier, monospace;
    
}

.header-title {
    text-align: center;
    opacity: 0.8;
    background-color: #582707;
    width: 880px;
    margin: auto auto;
}

.info-wrapper {
    border: white solid 5px;
}